<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGNUP</title>
</head>

<body>
    <h1>SIGNUP FORM</h1>
    <form action="/user" method="post">
        <label>FULL NAME:</label>
        <input name="name" type="text" required>
        <label>Email:</label>
        <input name="email" type="text" required>
        <label>Password:</label>
        <input name="password" type="text" required>
        <button type="submit">SIGN UP</button>
    </form>

</body>

</html>